
h2 {
    color:grey;
    text-align:left;
}

blockquote {
color:black;
}
.first {
    font-size:260%;
}
p1 {
    color: black;
}
p2 {
    font-size: 100%;
    text-indent: 50px;

}
.lakeplace {
    align:center;
}
